<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <detail/>
  </div>
</template>

<script>
import Detail from '../components/Detail.vue'
export default {
  components: { Detail }
}
</script>
