<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="24">
              <el-row :gutter="24">
                <el-col :span="5">
                  <el-form-item label="Modelo do sensor" prop="product_id">
                    <el-select
                      v-model="item.product_id"
                      placeholder="Selecione um modelo"
                      clearable
                      automatic-dropdown
                      filterable
                    >
                      <el-option
                        v-for="product in productTypes"
                        :key="product.id"
                        :label="product.description"
                        :value="product.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="Descrição" prop="description">
                    <el-input
                      v-model="item.description"
                      maxlength="45"
                      placeholder="Descrição do sensor"
                    />
                  </el-form-item>
                </el-col>
              </el-row>

              <el-row :gutter="24">
                <el-col :span="12">
                  <el-form-item label="Nº Serial" prop="serialNumber">
                    <el-input
                      v-model="item.serialNumber"
                      maxlength="45"
                      placeholder="Digite o código identificador"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="Fabricado em" prop="fabricationDate">
                    <el-date-picker
                      v-model="item.fabricationDate"
                      type="date"
                      format="dd/MM/yyyy"
                      value-format="yyyy-MM-dd HH:mm:ss"
                      placeholder="Selecione a data de fabricação"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.description || !item.serialNumber || !item.fabricationDate"
        @click="submit"
      >
        Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import crudHelper from "@/modules/_common/store/crudHelper";
import crudMixin from "@/modules/_common/mixins/crud";

const MODULE_NAME = "device";
const crudStore = crudHelper(MODULE_NAME);

export default {
  name: "Detail",
  data: () => ({
    MODULE_NAME,
    item: {
      product_id: "",
      description: "",
      serialNumber: "",
      fabricationDate: ""
    },
    rules: {
      product_id: [
        { required: true, message: "Campo obrigatório.", trigger: "blur" }
      ],
      serialNumber: [
        { required: true, message: "Campo obrigatório.", trigger: "blur" }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      productTypes: "product/items"
    })
  },
  created() {
    this.findProductTypes();
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert);
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findProductTypes: "product/find"
    })
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/detail.scss";
</style>
