
<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    chartData: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      chart: null
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler() {
        this.setOptions()
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
    },
    setOptions() {
      var date = []
      var series = []
      var ids = []
      for (let i = 0; i < this.chartData.length; i++) {
        date = [...new Set(date.concat(this.chartData[i].date))]
        ids.push(this.chartData[i].id)
        // console.log(Array('[' + this.chartData[i].power + '],[' + this.chartData[i].date + ']'))
        const robo = {
          name: this.chartData[i].id,
          itemStyle: {
            normal: {
              color: this.chartData[i].color,
              lineStyle: {
                color: this.chartData[i].color,
                width: 2
              }
            }
          },
          smooth: true,
          type: 'line',
          // data: Array('[' + this.chartData[i].power + '],[' + this.chartData[i].date + ']'),
          data: this.chartData[i].power,
          animationDuration: 2800,
          animationEasing: 'cubicInOut'
        }
        series.push(robo)
      }
      this.chart.setOption({
        title: {
          text: 'Autonomia',
          textAlign: 'auto'
        },
        xAxis: {
          data: date.sort(),
          boundaryGap: false,
          axisTick: {
            show: true
          }
        },
        yAxis: {
          axisTick: {
            show: false
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          padding: [5, 10]
        },
        series: series,
        legend: {
          type: 'scroll',
          id: ids
        }
      })
    }
  }
}
</script>
