<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="18">
            
             <el-row :gutter="24">
               <el-row :gutter="24">
                  <el-col :span="8" style="padding-left: 0;">
                    <el-form-item label="Departamento" prop="department_id">
                      <el-select v-model="item.department_id" placeholder="Escolha um departamento" clearable automatic-dropdown >
                        <el-option
                          v-for="depto in departments"
                          :key="depto.id"
                          :label="depto.description"
                          :value="depto.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" style="padding-left: 0;">
                    <el-form-item label="Modelo" prop="modelo_id">
                      <el-select v-model="item.modelo_id" placeholder="Escolha um modelo" clearable automatic-dropdown >
                        <el-option
                          v-for="model in models"
                          :key="model.id"
                          :label="model.description"
                          :value="model.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
               <el-row :gutter="24">
                  <el-col :span="12" style="padding-left: 0;">
                    <el-form-item label="Nº Serial 33Robotics" prop="serialNumber">
                      <el-input v-model="item.description" placeholder="Número serial 33Robotics"/>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row :gutter="24">
                  <el-col :span="6" style="padding-left: 0;">
                    <el-form-item label="Manutenção" prop="inspectionHours">
                      <el-input-number :step="1" :max="24" :precision="0" :min="0" v-model="item.inspectionHours" placeholder="Escolha um horário para a manutenção do robô"/>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6" style="padding-left: 0;">
                    <el-form-item label="Horimetre" prop="horimetre">
                      <el-input-number :step="1" :max="24" :precision="0" :min="0" v-model="item.horimetre" placeholder="Horimetre"/>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-row>
              
          </el-col>
        </el-row>
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.inspectionHours || !item.horimetre || !item.modelo_id || !item.department_id"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'robot'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        description: '',
        inspectionHours: '',
        horimetre: '',
        department_id: '',
        modelo_id: '',
      },
      rules: {
        description: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        models: 'models/items',
        departments: 'department/items'
      })
    },
    created() {
      this.findModels()
      this.findDepartments()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findModels: 'models/find',
        findDepartments: 'department/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
