<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :points.sync="points" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'routines'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'ID', slug: 'id' },
    { label: 'Nome', slug: 'description' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'path/items',
        routes: 'route/items',
        points: 'point/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findRoutes: 'route/find',
        findPoints: 'point/find'
      }),
      async getOptions() {
        await this.findRoutes()
        if (this.filters.filter(obj => obj.slug === 'id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let route in this.routes) {
            options.push(
              Object.assign({}, {
                key: this.routes[route].id,
                label: this.routes[route].description
              })
            )
          }
          this.filters.push({
            slug: 'pointIni_id',
            label: 'Coordenada Inicial',
            type: 'select',
            autocomplete: true,
            placeholder: 'Coordenada Inicial',
            options: options
          })
          this.filters.push({
            slug: 'pointFin_id',
            label: 'Coordenada Final',
            type: 'select',
            autocomplete: true,
            placeholder: 'Coordenada Final',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
