<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="18">
            <el-row :gutter="24">
                <el-col :span="12" style="padding-left: 0;">
                  <el-form-item label="Dê um nome para a rotina" prop="description">
                    <el-input v-model="item.description" placeholder="Dê um nome descritivo para a rotina"/>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="Prioridade" prop="specialFlow">
                    <el-checkbox v-model="item.specialFlow" label="Imediato" border></el-checkbox>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="24">
                <el-col :span="8">
                  <el-form-item label="Robô designado" prop="robot_id">
                    <el-select v-model="item.robot_id" placeholder="Selecione um robô" clearable automatic-dropdown >
                      <el-option
                      v-for="robot in robots"
                      :key="robot.id"
                      :label="robot.description"
                      :value="robot.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="Frequência" prop="frequency">
                    <el-input v-model="item.frequency" placeholder="Qual a frequência?"/>
                  </el-form-item>
                </el-col>
              </el-row>
              
              <!--Coordenadas (POINT) -->
              <el-row :gutter="24" v-show="state >= 1">
                  <el-form-item label="Selecione as coordenadas da rota">
                    <span class="helpertxt">Arraste os itens para a direita e ordene-os de acordo com o trajeto:</span>
                    <el-col :span="12">
                      <draggable
                      v-bind="dragOptions"
                      @start="drag = true"
                      @end="drag = false"
                      class="list-group grid"
                      :list="list1"
                      group="pontos"
                      >
                        <transition-group 
                        :style="'grid-template-rows: repeat(' + arraySize + ', 60px) !important;'" 
                        type="transition" 
                        :name="!drag ? 'flip-list' : null">
                          <el-card
                            shadow="hover"
                            class="list-group-item"
                            v-for="(coordenada, index) in list1"
                            :key="index"
                          >
                            <span>{{ coordenada.description }}</span>
                          </el-card>
                        </transition-group>
                      </draggable>
                    </el-col>
              
                    <el-col :span="12">
                      <draggable
                      v-bind="dragOptions"
                      @start="drag = true"
                      @end="drag = false"
                      class="list-group grid"
                      :list="list2"
                      group="pontos"
                      >
                        <transition-group
                        :style="'grid-template-rows: repeat(' + arraySize + ', 60px) !important;'" 
                        type="transition" 
                        :name="!drag ? 'flip-list' : null"
                        >
                          <el-card
                            shadow="hover"
                            class="list-group-item"
                            v-for="(coordenada, index) in list2"
                            :key="index"
                          >
                            <div v-if="list2.length > 0" class="badge"><span>{{ list2.indexOf(coordenada) == list2.length -1 && list2.indexOf(coordenada) != 0 ? 'Fim' : list2.indexOf(coordenada) + 1 }}</span></div>
                            <span>{{ coordenada.description }}</span>
                          </el-card>
                        </transition-group>
                      </draggable>
                    </el-col>
                  </el-form-item>
                </el-row>
  
          </el-col>
        </el-row>
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'path'
  const crudStore = crudHelper(MODULE_NAME)

  import draggable from "vuedraggable"

  export default {
    name: 'Detail',
    components: { draggable },
    data: () => ({
      MODULE_NAME,

      item: {
        description: '',
        robot_id: '',
        frequency: '',
        specialFlow: '',
        historyRead_id: ''
      },
      rules: {
        robot_id: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ],
        frequency: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      },
      list1: [],
      list2: [],
      arraySize: Number,
      drag: false,
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        points: 'point/items',
        robots: 'robot/items'
      }),
      state() {
        return this.item.robot_id != '' && this.item.robot_id != null ? 1 : 0
      },
      dragOptions() {
        return {
          animation: 200,
          group: "pontos",
          disabled: false,
          ghostClass: "ghost"
        }
      }
    },
    created() {
      this.findPoints()
      this.findRobots()
      this.arraySize = this.points.length
      this.list1 = this.points
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findPoints: 'point/find',
        findRobots: 'robot/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
  @import '~@/styles/variables.scss';

  .el-form-item__content>div {
    padding-left: 0 !important;
  }

  .helpertxt {
    display: block;
    color: $--color-text-light-1;
    font-size: 12px;
    line-height: 160%;
    transform: translateY(-.6rem);
  }

  .grid>span {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .4rem 0;
    min-height: 300px;
  }

  .el-card .el-card__body {
    position: relative;
    width: 100%;
  }

  .grid>span .el-card,
  .grid>span .el-card .el-card__body {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
    justify-content: space-evenly !important;
    width: 100% !important;
    height: 100% !important;
  }

  .grid>span .el-card .el-card__body {
    position: relative;
    width: 100%;
    padding: 0px 20px;
  }

  .grid>span .el-card .el-card__body>span {
    line-height: 1;
  }

  .el-card .badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $--color-primary;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 200ms ease;
    background-color: $--color-border-light-3;
  }

  .el-card .badge span {
    font-size: .8rem;
    font-weight: bolder;
    text-align: center;
  }

  .el-card .badge:hover,
  .el-card .badge:focus:active {
    color: #ffffff;
    background-color: $--color-primary;
  }

  .el-card:not(:last-child) .badge::after {
    content: '';
    min-height: 60px;
    width: 2px;
    border-radius: 2px;
    background-color: $--color-primary;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .el-card.ghost .badge,
  .el-card.ghost .badge::after,
  .el-card.sortable-chosen .badge::after {
    content: '';
    display: none !important;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }

  .no-move {
    transition: transform 0s;
  }

  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  .list-group {
    min-height: 20px;
    padding: 6px;
    border-radius: 6px;
    background-color: $--color-border-light-1;
  }

  .list-group-item {
    cursor: grab;
    width: 100%;
    overflow: visible;
  }

  .list-group-item:focus-within:active {
    cursor: grabbing;
  }

  .list-group-item i {
    cursor: pointer;
  }
</style>
