<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :deviceTypes.sync="deviceTypes" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'product'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Descrição', slug: 'description' },
    { label: 'Tipo', slug: 'type_id' }
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'product/items',
        deviceTypes: 'deviceType/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findDeviceTypes: 'deviceType/find'
      }),
      async getOptions() {
        await this.findDeviceTypes()
        if (this.filters.filter(obj => obj.slug === 'type_id').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let device in this.deviceTypes) {
            options.push(
              Object.assign({}, {
                key: this.deviceTypes[device].id,
                label: this.deviceTypes[device].description
              })
            )
          }
          this.filters.push({
            slug: 'type_id',
            label: 'Tipo do device',
            type: 'select',
            autocomplete: true,
            placeholder: 'Tipo do device',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
