<template>
  <div class="dashboard-editor-container">

    <panel-group @handleSetLineChartData="handleSetLineChartData" />

    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart :chart-data="lineChartData" />
    </el-row>

    <el-row :gutter="32">
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <raddar-chart />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <pie-chart />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <bar-chart />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import PanelGroup from './components/PanelGroup'
import LineChart from './components/LineChart'
import RaddarChart from './components/RaddarChart'
import PieChart from './components/PieChart'
import BarChart from './components/BarChart'

export default {
  name: 'DashboardAdmin',
  components: {
    PanelGroup,
    LineChart,
    RaddarChart,
    PieChart,
    BarChart
  },
  data: () => ({ // props initialItems
    linearChartData: [{
      id: '',
      power: [],
      date: [],
      color: ''
    }],
    lineChartData: []

    // item: {
    //   id: '',
    //   date: '',
    //   read: '',
    //   department_id: '',
    //   robot_id: '',
    //   route_id: ''
    // },
    // return {
    // lineChartData: this.baterias
    // lineChartData: this.baterias
    // }
  }),
  computed: {
    ...mapGetters({
      robos: 'robot/items',
      historyReads: 'historyRead/items'
    }),
    baterias: function() {
      return JSON.parse(this.item.read).bateria
    }
  },
  watch: {
    'historyReads'(historyRead) {
      !this.linearChartData[0].power.length
        ? this.linearChartData.shift()
        : null
      historyRead.forEach(historyLog => {
        var novo = true
        // for(i=0; i<this.linearChartData ;i++)
        Object.keys(this.linearChartData).forEach(robot => {
          if (this.linearChartData[robot].id === historyLog.robot_id) {
            novo = false
            this.linearChartData[robot].power.push(JSON.parse(historyLog.read).bateria)
            this.linearChartData[robot].date.push(historyLog.date)
            // this.linearChartData[robot].date.push(JSON.parse(historyLog.read).date) //(para pegar os INT-testes de dentro do objeto para tentar fazer o eixo X dinâmico)
          }
        })
        if (novo) {
          var robo = {
            id: historyLog.robot_id,
            power: [JSON.parse(historyLog.read).bateria],
            date: [historyLog.date],
            color: this.generateColorRandomlyInHexadecimal()
            // date: [JSON.parse(historyLog.read).date], //(para pegar os INT-testes de dentro do objeto para tentar fazer o eixo X dinâmico)
          }
          this.linearChartData.push(robo)
        }
      })
      // console.log(this.linearChartData)
      this.lineChartData = this.linearChartData
    }
  },
  created() {
    this.findRobots()
    this.findHistoryReads()
  },
  methods: {
    ...mapActions({
      findRobots: 'robot/find',
      findHistoryReads: 'historyRead/find'
    }),
    handleSetLineChartData(type) {
      console.log('handleSetLineChartData')
      this.lineChartData = this.linearChartData[0]
    },
    generateColorRandomlyInHexadecimal() {
      var letters = '0123456789ABCDEF'
      var color = '#'
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}

@media (max-width:1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
