<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'measure'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Medida', slug: 'description' }
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'measure/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({}),
    }
  }
</script>
