<template>
  <div id="app">
    <Header user="User"/>

    <img src="./assets/logo.png">
    <div>
      <p>
        If Element is successfully added to this project, you'll see an
        <code v-text="'<el-button>'"></code>
        below
      </p>
      <el-button>el-button</el-button>
    </div>
    <!--HelloWorld msg="Welcome to Your Vue.js App"/ -->
    <div>
      <Drawer/>
    </div>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Header from './components/Header.vue'
import Drawer from './components/Drawer.vue'

export default {
  name: 'app',
  components: {
    Header,
    Drawer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
body {margin:0;}

.el-drawer__body {
  background-color: #545c64
}
</style>
